[Unit]
Description=Backend service of ppes, based on docker-compose.
After=docker.service mount-noauto.service
Requires=docker.service docker.socket mount-noauto.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/opt/innodisk/accelbrain/accel-brain.sh start
ExecStop=/opt/innodisk/accelbrain/accel-brain.sh stop
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
