[Unit]
Description=Mount noauto filesystems
After=local-fs.target
Before=docker.service
Requires=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/innodisk/accelbrain/mount-noauto.sh start

[Install]
WantedBy=multi-user.target
